doctype html
html(lang="en")
  head
    title Signed HTLCs (ARCH->EVM)
  body
    h1 Signed HTLCs (ARCH->EVM)
    table
        thead
            tr
                th(scope="col") EVM Chain
                th(scope="col") EVM Contract
                th(scope="col") EVM Status
                th(scope="col") Archethic Genesis
                th(scope="col") Archethic Status
                th(scope="col") Amount
        tbody
            each htlc in htlcs
                tr
                    td #{htlc.chain}
                    td #{htlc.address}
                    td #{htlc.status}
                    td
                    td
                    td #{htlc.amount}
